<!DOCTYPE html>
<html>
<div class="home-page">
    <!-- FADING IN AND OUT PIXMAP MESSAGE -->
    <div class="pixmap-message">
        <ul class="fly-in-text hidden">
            <li>P</li>
            <li>I</li>
            <li>X</li>
            <li>M</li>
            <li>A</li>
            <li>P</li>
            <li>❤</li>
        </ul>
    </div>

    <!--- FADING IN WEBSITE CONTENT -->
    <div class="fade-in">
        <div class="diagonal-gradient">
		  <div class="intro">
            		<div class="intro-style">
				<br>
		 		<center> <button class="btn btn-login"><a href="/login" style="color: #FFFFFF">Sign In</a></button> </center>
    	        		<br>
				<center> <button class="btn btn-login"><a href="/register" style="color: #FFFFFF">Sign Up</a></button> </center>
				<br>
			</div>
		</div>
        </div> <!-- background -->
    </div> <!-- fade in -->

</div> <!--end of home page -->

</html>
