/** background styling **/
body{
  background: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
}

.right{
	left: 5px;
}
.home-page
{
                background-color: #000;
}

/* HOVERING OVER SUBMIT AND REGISTER BUTTONS */
button:hover, button:active{
        background: #355C7D;
}

/* NOT REGISTER MESSAGE STYLE */
.message {
        margin: 15px 0 0;
        color: white;
        font-size: 15px;
}

.message a{
        color: #4CAF50;
        text-decoration: none;
}
/** POSITION OF LOG IN BOX **/
.login {
  left: 40%;
  top: 40%;
  width: 230px;
  margin-top: -159px: /* height/2 */
  margin-left: -150px; /* width/2 */
  position: absolute;
}

/** THE STYLE OF THE LOG IN BOX **/
.login-style{
        border-radius: 25px;
        background: rgba(26,26,26,.87);
        padding: 20px;
        height: 200px;
        width: 300px;
}

.btn-login{
        background-color: #8b008b ;
        border: 0;
        padding: 8px 70px;
        border-radius: 50px;
}




