\<!DOCTYPE html>
<html>
    <!--- FADING IN WEBSITE CONTENT -->

    <body>
       <div class="diagonal-gradient">
        <div class="login">
            <div class="login-style">
                 <div>
                 <!-- USER LOG IN FORM -->
                <form ng-submit="userCtrl.logIn(loginData)" style="width: 300px; height: 50px;">
                        <!-- DO NOT COMBINE THE TEXTBOX DIV TOGETHER -->
                        
			<div class="textbox">
                                <input type="text" name="username" placeholder="Username" ng-model="userCtrl.loginData.username" required>
                        </div>
			
			&nbsp;&nbsp;
                       
			<div class="textbox">
                                <input type="password" name="password" placeholder="Password" ng-model="userCtrl.loginData.password" required>
                        </div> 
			<br> <br> 
  			<div class="right">
                 <button class="btn btn-login">Login</button> </div>
                </form>

        <!-- OUTPUT MESSAGES -->

        <div class="row show-hide-message" ng-show="userCtrl.successMsg">
                <div class="alert alert-success" style="position: absolute; top: 51%; width: 115%; left: 0%">{{userCtrl.successMsg}}</div>
        </div>

        <div class="row show-hide-message" ng-show="userCtrl.errorMsg">
                <div class="alert alert-danger" style= "top:51%; position: absolute; width: 115%;  left: 0%;">{{userCtrl.errorMsg}}</div>
        </div>


         </div> <!-- login style -->
       </div> <!-- login -->
     </div>
    </body>

</html>
